In [2]:
import os
import sys
import pickle
import torch
import torch.nn as nn
import pandas as pd
import codecs
from pathlib import Path
from math import log, ceil

sys.path.append('..')
from src.data import prepare_data, SOURCE_ASSIST0910_SELF, SOURCE_ASSIST0910_ORIG

In [3]:
dirname = Path().resolve()
infname = dirname.parent / 'data/raw_input/skill_builder_data_corrected.csv'

In [4]:
with codecs.open(infname, 'r', 'utf-8', 'ignore') as f:
    df = pd.read_csv(f)

/home/qqhann/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df['skill_id'].unique()

array([  1.,   2.,   4.,   5.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,
        15.,  16.,  17.,  18.,  21.,  22.,  24.,  25.,  26.,  27.,  32.,
        34.,  35.,  37.,  39.,  40.,  42.,  43.,  46.,  47.,  48.,  49.,
        50.,  51.,  53.,  54.,  58.,  61.,  63.,  64.,  65.,  67.,  69.,
        70.,  74.,  75.,  76.,  77.,  79.,  80.,  81.,  82.,  83.,  84.,
        85.,  86.,  91.,  92.,  94.,  96.,  97.,  99., 101., 102., 104.,
       105., 110., 163., 165., 166., 173., 190., 193., 203., 204., 217.,
       221., 276., 277., 278., 279., 280., 290., 292., 293., 294., 295.,
       296., 297., 298., 299., 301., 303., 307., 308., 309., 310., 311.,
       312., 314., 317., 321., 322., 323., 324., 325., 331., 333., 334.,
       340., 343., 346., 348., 350., 356., 362., 365., 367., 368., 371.,
       375., 378.,  nan])

In [8]:
len(df['skill_id'].unique())

124

In [9]:
df['skill_id'].is_nan()

AttributeError: 'Series' object has no attribute 'is_nan'

In [26]:
['{:>20} {:<16}'.format(len(df[c].unique()), c) for c in df.columns]

['              346860 order_id        ',
 '                3521 assignment_id   ',
 '                4217 user_id         ',
 '               17725 assistment_id   ',
 '               26688 problem_id      ',
 '                   2 original        ',
 '                   2 correct         ',
 '                 200 attempt_count   ',
 '               87721 ms_first_response',
 '                   2 tutor_mode      ',
 '                   5 answer_type     ',
 '                 677 sequence_id     ',
 '                 250 student_class_id',
 '                 283 position        ',
 '                   1 type            ',
 '                 366 base_sequence_id',
 '                 124 skill_id        ',
 '                 111 skill_name      ',
 '                 153 teacher_id      ',
 '                  75 school_id       ',
 '                   9 hint_count      ',
 '                  10 hint_total      ',
 '              101182 overlap_time    ',
 '                 816 template_id     ',
 '                8314 answer_id       ',
 '               17211 answer_text     ',
 '                   3 first_action    ',
 '                   3 bottom_hint     ',
 '                1020 opportunity     ',
 '                 916 opportunity_original']

In [33]:
df.skill_id.unique()

array([  1.,   2.,   4.,   5.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,
        15.,  16.,  17.,  18.,  21.,  22.,  24.,  25.,  26.,  27.,  32.,
        34.,  35.,  37.,  39.,  40.,  42.,  43.,  46.,  47.,  48.,  49.,
        50.,  51.,  53.,  54.,  58.,  61.,  63.,  64.,  65.,  67.,  69.,
        70.,  74.,  75.,  76.,  77.,  79.,  80.,  81.,  82.,  83.,  84.,
        85.,  86.,  91.,  92.,  94.,  96.,  97.,  99., 101., 102., 104.,
       105., 110., 163., 165., 166., 173., 190., 193., 203., 204., 217.,
       221., 276., 277., 278., 279., 280., 290., 292., 293., 294., 295.,
       296., 297., 298., 299., 301., 303., 307., 308., 309., 310., 311.,
       312., 314., 317., 321., 322., 323., 324., 325., 331., 333., 334.,
       340., 343., 346., 348., 350., 356., 362., 365., 367., 368., 371.,
       375., 378.,  nan])

skikk_idは124ユニークで、
DKT論文で使われた