In [22]:
import codecs
import os
from collections import defaultdict
import pickle
import numpy as np

import pandas as pd

In [11]:
def run(file, csid, cusr, cans, sort_by):
    dirname = os.path.dirname("./")
#     dirname = os.path.dirname(__file__)
    infname = os.path.join(dirname, f'raw_input/{file}.csv')
    with codecs.open(infname, 'r', 'utf-8', 'ignore') as f:
        df = pd.read_csv(f)
        print(df.columns)
    print(df['CustomerNumber'].value_counts())

In [ ]:
run('Asteria_Eng_ver5', 'SkillID', 'CustomerNumber', 'AnswerResult', 'LearningDateTime')

In [14]:
file = 'Asteria_Eng_ver5'

dirname = os.path.dirname("./")
infname = os.path.join(dirname, f'raw_input/{file}.csv')
with codecs.open(infname, 'r', 'utf-8', 'ignore') as f:
    df = pd.read_csv(f)
    print(df.columns)

Index(['Unnamed: 0', 'SEQ', 'CustomerNumber', 'LearningDateTime',
       'ResourceNumber', 'SkillID', 'AnswerResult'],
      dtype='object')

In [19]:
value_counts = df['CustomerNumber'].value_counts()

In [20]:
threshold = 100
to_remove = value_counts[value_counts <= threshold].index

In [23]:
df.replace(to_remove, np.nan, inplace=True)

In [24]:
df['CustomerNumber'].value_counts()

801490604W    7133
8014952070    7012
8015748647    5783
801574005U    5016
8015556655    4689
8015607966    4622
801577104X    4480
8014865837    4393
8014865859    4393
801578200V    4179
8014689178    4115
8014963757    3983
801497539A    3799
8015487726    3739
801582613Y    3661
8015691420    3630
801574053X    3627
801596683A    3590
801582610V    3574
801495487A    3531
801257230S    3463
801325743X    3278
801504153R    3266
801550404R    3166
801561049Y    3059
801577964B    2984
801575597B    2916
801481930Y    2895
8015877369    2798
801577025Z    2635
              ...
8015648804     109
8015731795     109
8014946589     108
801560229X     108
801542128V     108
801575120T     107
801597789I     107
801543911W     107
8015524380     106
8014935431     106
8015738264     105
8014903481     105
8015626732     105
8014940954     104
801587301X     104
801623725Y     104
801512981Z     104
801273158Z     104
8015780935     103
8016175721     102
8015514851     102
8014963331     102
8014930740     102
8014891555     102
801372392Z     102
8015515571     102
8014459476     101
8015766524     101
801550727Z     101
801493210S     101
Name: CustomerNumber, Length: 1070, dtype: int64

In [25]:
df['CustomerNumber'].count()

676700

In [27]:
skill_counts = df['SkillID'].value_counts()

In [28]:
skill_remove = skill_counts[skill_counts <= 200].index

In [29]:
df.replace(skill_remove, np.nan, inplace=True)

In [30]:
df['SkillID'].value_counts()

NER01L01    15252
NEL01L03    13267
NEW01L01    13109
NEL01L02    12552
NEW01L04    11944
NER01L02    11785
NES01L01    11766
NEW04L01    11251
NEL02L01    11218
NEW01L02    10842
NES01M01    10510
NEL01L05    10414
NER02L02     9540
NER01L03     9345
NEL02L03     9105
NER02L01     8984
NEW01L05     8850
NEL03L02     8492
NEL03L01     8315
NER03L01     7873
NER04L01     7861
NEW02L01     7687
NEL01L04     7676
NEL01L01     7311
NER02L03     7238
NER01L04     7010
NEW02L03     6973
NER03L02     6959
NEL04L01     6759
NEW02L02     6680
            ...
NEW03M03      338
NES06M04      331
NES06M06      329
NEW05L22      326
NEW06L24      304
NES06M05      303
NER06L02      293
NEL06L03      291
NEW06L05      289
NEW01LA2      285
NEW06L04      282
NEW04M04      281
NEW04M03      280
NER07L02      277
NEW06L23      276
NEL07L01      264
NES06L05      261
NEL08L01      261
NEL07L02      252
NEL01LA2      248
NEW06L09      246
NER08L01      243
NEL07L04      236
NEW05M02      234
NEW05L29      223
NER06L05      208
NER09L01      204
NEL07L05      204
NEW04M05      202
NEW05M03      201
Name: SkillID, Length: 271, dtype: int64

In [44]:
df.to_csv("raw_input/Asteria_Eng_reduce_ver2.csv", index=False)

In [34]:
df['ResourceNumber'].value_counts()

NEL01L02A011    1994
NEL01L02A071    1213
NEL01L02A021    1212
NEL01L05A051    1189
NEL01L02A031    1182
NEL01L02A041    1179
NEL01L02A091    1173
NEL01L02A081    1168
NEL01L02A051    1148
NEL01L02A061    1144
NEL01L02A101    1139
NEL01L05A031    1134
NER01L01A101    1125
NEL01L05A041    1115
NEL01L05A021    1113
NEL01L05A091    1106
NEL01L01A011    1099
NER01L01A091    1079
NER01L01A151    1068
NER01L01A041    1054
NEL01L03A021    1040
NER01L01A061    1029
NEL01L03A011    1027
NER01L01A081    1027
NES01L01A121    1022
NER01L01A051    1020
NER01L01A031    1007
NER01L01A141    1005
NER01L01A011    1000
NEL01L05A011     980
                ...
NEW05L06C011       2
NEW04L15C011       2
NEW06L07C011       2
NEW06M04B071       2
NEW06L19B131       2
NEW06L19B061       2
NEW02L11C011       2
NEW06L16B081       2
NEW05L15C011       2
NEW06L05C011       2
NEW05L18C011       2
NER06L02B061       2
NER06L02B101       2
NEW06L21A231       2
NER06L02B071       2
NEW04L04C011       2
NEW06M05B111       2
NEW01L04C011       2
NEL09L04Q011       2
NEW06L20C011       2
NEW01L11C011       2
NEW06M05B021       2
NEW06L18C011       2
NEW05L27C011       2
NEW05L29C011       2
NEW06L10C011       2
NEW04L20C011       2
NEW05L30C011       2
NER06L03Q031       1
NER06L03Q021       1
Name: ResourceNumber, Length: 4430, dtype: int64

In [40]:
resource_counts = df['ResourceNumber'].value_counts()

In [41]:
resource_remove = resource_counts[resource_counts <= 300].index

In [42]:
df.replace(resource_remove, np.nan, inplace=True)

In [43]:
df['ResourceNumber'].value_counts()

NEL01L02A011    1994
NEL01L02A071    1213
NEL01L02A021    1212
NEL01L05A051    1189
NEL01L02A031    1182
NEL01L02A041    1179
NEL01L02A091    1173
NEL01L02A081    1168
NEL01L02A051    1148
NEL01L02A061    1144
NEL01L02A101    1139
NEL01L05A031    1134
NER01L01A101    1125
NEL01L05A041    1115
NEL01L05A021    1113
NEL01L05A091    1106
NEL01L01A011    1099
NER01L01A091    1079
NER01L01A151    1068
NER01L01A041    1054
NEL01L03A021    1040
NER01L01A061    1029
NER01L01A081    1027
NEL01L03A011    1027
NES01L01A121    1022
NER01L01A051    1020
NER01L01A031    1007
NER01L01A141    1005
NER01L01A011    1000
NEL01L05A011     980
                ...
NEW03L01A011     308
NEW01L02A201     308
NER04L02A041     307
NES02M02A061     307
NEW03L02A051     307
NES01L02A061     306
NER04L02A071     306
NEL03L03A021     305
NEW03L01A021     305
NEL03L04A101     305
NEW02L04B011     305
NES02M01A101     305
NEL03L04A061     305
NEL01L06A111     304
NEL02L04A071     304
NEW01L02A391     304
NER04L02A151     304
NES02M02A111     304
NEW01L09A291     303
NEW03L01A121     303
NEW01M01A051     303
NEW04L04A061     303
NEW03L03A141     303
NER03L04A071     303
NEL03L04A091     302
NEL02L04A031     302
NEL04L02A071     301
NEW01M01A201     301
NEL03L04A171     301
NEL05L01A051     301
Name: ResourceNumber, Length: 775, dtype: int64